<!--CONTENT-->
<div class="row">
  <!--LOG LIST-->
  <div class="col-md-12">
    <div *ngIf="logs;else NoLogs">
      <table class="table table-hover" [mfData]="data" #mf="mfDataTable">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="packageName">Flavor</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="versionName">Version</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="ticket">Ticket</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="createdAt">Date</mfDefaultSorter>
          </th>
          <!--<th class="text-center">Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of mf.data" (click)="onSelect(log)" [class.active]="log === selectedLog">
          <td>{{log.packageName}}</td>
          <td>{{log.versionName}}</td>
          <td>{{log.ticket}}</td>
          <td class="date">{{log.createdAt | date:'short'}}</td>
          <!--<td class="text-center">-->
          <!--&lt;!&ndash;<a href="/logs/{{id}}" class="btn btn-link"><i class="fa fa-search-plus"></i></a>&ndash;&gt;-->
          <!--<button (click)="onDownload(log)" class="btn btn-link"><i class="fa fa-download"></i></button>-->
          <!--<button (click)="onDelete(log)" class="btn btn-link" onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-times"></i></button>-->
          <!--</td>-->
        </tr>
        </tbody>

      </table>
    </div>
    <ng-template #NoLogs>
      <h3 class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></h3>
    </ng-template>
  </div>
</div>
<!--END LOG LIST-->
